extends layout

block content
  h1!= title
  p.center!= category.description

  if items.length
    .card-wrapper.wide
      for item in items
        a.card(href=item.url)
          h2!= item.name
          if item.image
            img(src=item.image, alt="")
          else
            .card-image
              span Image Placeholder
          p.center
            i ( In stock: #{item.stock} )
          p.center
            if item.description
              | !{item.description}
            else
              | No description provided for this item...
          p.center.bold $#{item.priceFormatted}
  else
    p.center
      i There are no items in this category yet...

  button#update(type="button") Update
  button#delete(type="button") Delete
  
  script(src="../javascripts/details.js")
