extends layout

block content
  h1!= title

  if item.image
    img(src=item.image, alt="")
  else
    .image
      span Image Placeholder

  p.center
    i ( In stock: #{item.stock} )

  p.center
    i ( Category: 
      a(href=item.category.url)!= item.category.name
      |  )

  p.center
    if item.description
      | !{item.description}
    else
      | No description provided for this item...

  p.center.bold $#{item.priceFormatted}

  button#update(type="button") Update
  button#delete(type="button") Delete
  
  script(src="../javascripts/details.js" type="text/javascript")
